<!doctype html>
<title>Stock Price Plots</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class=page>
  <h1>Stock Price Plots</h1>
  <div class=metanav>

    <h4>
        Choose Stock for Plotting:
    </h4>

    <form id='stockinfoform' method='post' action='/' >
      <p>Stock Ticker Symbol: <input type='text' name='stock_ticker' />
      </p>
      <p>
      <p>Choose price plotted:</p>
      <div>
        <input type="checkbox" name="data_plotted" value="adj_open">
            <label for="Adjusted Open">Adj. Open</label>
      </div>

      <div>
        <input type="checkbox" name="data_plotted" value="adj_close">
        <label for="Adjusted Close">Adj. Close</label>
      </div>
        <input type='submit' value='Submit' />
      </p>
    </form>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </div>
</div>
</html>
